.manage_wrap{
    font-family: Arial, Helvetica, sans-serif;
}
.manage_wrap .btn_wrap{
    height: 35px;
    line-height: 35px;
    width: 100%;
}
/*筛选条件*/
.manage_wrap .screen_wrap{
    height: 165px;
    width: 100%;
    background-color: #eeeeee;
    margin-top: 15px;
    padding: 5px 15px;
    /* overflow: hidden; */
}
.manage_wrap .screen_wrap .tr{
    height: 45px;
    line-height: 45px;
    width: 100%;
}
.manage_wrap .screen_wrap .tr:nth-last-child(1){
    margin-top: 10px;
}
.manage_wrap .screen_wrap .tr .td{
    float: left;
}
.manage_wrap .screen_wrap .tr .td:nth-child(odd){
    width: 70px;
}
.manage_wrap .screen_wrap .tr .td:nth-child(even){
    width: 250px;
}
.manage_wrap .screen_wrap .tr .td input{
    height: 30px;
    line-height: 30px;
    width: 205px;
}
/*改写bootstrap样式--start*/
.manage_wrap .screen_wrap .tr .td .dropdown button{
    width: 205px;
    height: 30px;
    line-height: 16px;
    border-radius: 0;
    text-align: left;
}
.manage_wrap .screen_wrap .tr .td .dropdown button .caret{
    float: right;
    margin: 7px 0;
}
.manage_wrap .screen_wrap .tr .td .dropdown ul{
    width: 205px;
}
/*改写bootstrap样式--end*/
.manage_wrap .screen_wrap .tr a.screen_btn{}
.manage_wrap .screen_wrap .tr a.clean_btn{
    color: #337ab7;
    margin-left: 10px;
    cursor: pointer;
}
/*tab*/
.manage_wrap .tab_wrap{
    height: 30px;
    width: 100%;
    margin-top: 15px;
}
.manage_wrap .tab_wrap ul{

}
.manage_wrap .tab_wrap ul li{
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: left;
    border: 1px solid #333333;
    text-align: center;
    cursor: pointer;
}
.manage_wrap .tab_wrap ul li.active{
    color: #ffffff;
    background-color: #747474;
}
/* 商品列表*/
.manage_wrap .list_wrap{
    width: 100%;
    overflow: hidden;
}
.manage_wrap .list_wrap .scroll_wrap{
    overflow-x: auto;
    min-height: 430px;
}
.manage_wrap .list_wrap .thead{
    height: 30px;
}
.manage_wrap .list_wrap .thead .th{
    height: 30px;
    display: inline-flex;
    border: 1px solid #333333;
    background-color: #eeeeee;
}
.manage_wrap .list_wrap .thead .th .td{
    width: 155px;
    height: 30px;
    line-height: 30px;
    float: left;
    cursor: pointer;
}
.manage_wrap .list_wrap .thead .th .td input{
    float: left;
    margin: 8px 10px;
}
.manage_wrap .list_wrap .tbody{
    
}
.manage_wrap .list_wrap .tbody li{
    height: 100px;
    display: inline-flex;
    border-bottom: 1px solid #d4d4d4;
    overflow: hidden;
    padding: 20px 0 10px;
}
.manage_wrap .list_wrap .tbody li .td{
    width: 155px;
    float: left;
    line-height: 70px;
}
.manage_wrap .list_wrap .tbody li .td.no_line{
    line-height: unset;
    position: relative;
}
.manage_wrap .list_wrap .tbody li .td input{
    float: left;
    margin: 23px 10px;
}

.manage_wrap .list_wrap .tbody li .td span.serial_no{
    float: left;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 30px;
    margin: 20px 0;
}
.manage_wrap .list_wrap .tbody li .td .img_wrap{
    height: 70px;
    width: 70px;
    float: left;
    position: relative;
    margin: 0 10px 0;
}
.manage_wrap .list_wrap .tbody li .td .img_wrap img{
    position: absolute;
    max-width: 70px;
    max-height: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.manage_wrap .list_wrap .tbody li .td label{
    font-weight: normal;
}
.manage_wrap .list_wrap .tbody li .td .product_name{
    height: 40px;
    overflow:hidden;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    width:100%;
}
.manage_wrap .list_wrap .tbody li .td .product_type{
    height: 20px;
    line-height: 20px;
}
.manage_wrap .list_wrap .tbody li .td .product_price{

}
.manage_wrap .list_wrap .tbody li .td .td_wrap{
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.manage_wrap .list_wrap .tbody li .td .td_wrap label{
    display: block;
    height: 25px;
    line-height: 25px;
}
.manage_wrap .list_wrap .tbody li .td .td_wrap .visitor_num{
    
}
.manage_wrap .list_wrap .tbody li .td .td_wrap .browse_num{
    
}
.manage_wrap .list_wrap .tbody li .td .td_wrap .stock{
    
}
.manage_wrap .list_wrap .tbody li .td a{
    color: #337ab7;
    cursor: pointer;
}
.manage_wrap .list_wrap .tbody li .td .td_wrap .to_detail{
    
}
/* 批量 */
.manage_wrap .batch_wrap{
    height: 50px;
    margin-top: 15px;
}
.manage_wrap .batch_wrap .btn_left{
    float: left;
}
.manage_wrap .batch_wrap .btn_left span.all{

}
.manage_wrap .batch_wrap .btn_left span.all i{

}
.manage_wrap .batch_wrap .btn_left span.all i.active{

}
.manage_wrap .batch_wrap .btn_left a{

}
.manage_wrap .batch_wrap .page_wrap{
    float: right;
}



/*   新建商品   */
.new_wrap{
    display: none;
}
/* tab */
.new_wrap .tab{
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
}
.new_wrap .tab li{
    width: 100px;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.new_wrap .tab li.active{
    border-bottom: 1px solid #333333;
}
/* 编辑 */
.new_wrap .edit_wrap{

}
.new_wrap .edit_wrap .edit_form{
    overflow: hidden;
    min-height: 450px;
    display: none;
}
.new_wrap .edit_wrap .edit_form.active{
    display: block;
}
.new_wrap .edit_wrap .edit_form .tr{
    width: 100%;
    min-height: 50px;
    float: left;
}
.new_wrap .edit_wrap .edit_form .tr .td{
    float: left;
    line-height: 50px;
    min-height: 30px;
}
.new_wrap .edit_wrap .edit_form .tr .td:nth-child(odd){
    width: 120px;
    text-align: right;
}
.new_wrap .edit_wrap .edit_form .tr .td:nth-child(even){
    margin-left: 15px;
}
.new_wrap .edit_wrap .edit_form .tr .td .product_xh,
.new_wrap .edit_wrap .edit_form .tr .td .pro_name{
    height: 30px;
    line-height: 35px;
    width: 200px;
}
.new_wrap .edit_wrap .edit_form .tr .td span.xh_tip{
    display: block;
    height: 25px;
    line-height: 25px;
    color: #666666;
}
.new_wrap .edit_wrap .edit_form .tr .td span.bsx{
    color: #E1251A;
    margin-right: 5px;
}
.new_wrap .edit_wrap .edit_form .tr .td .img_wrap{
    overflow: hidden;
    width: 545px;
}
.new_wrap .edit_wrap .edit_form .tr .td .img_wrap .product_img{
    height: 70px;
    width: 70px;
    float: left;
}
.new_wrap .edit_wrap .edit_form .tr .td .img_wrap .addimg{
    display: block;
    height: 70px;
    line-height: 70px;
    width: 70px;
    float: left;
    margin-left: 10px;
    border: 1px solid #e3e3e3;
    cursor: pointer;
}
.new_wrap .edit_wrap .edit_form .tr .td span.img_tip{
    display: block;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;
    color: #666666;
}
/*改写bootstrap样式--start*/
.new_wrap .edit_wrap .edit_form .tr .td .dropdown button{
    width: 205px;
    height: 30px;
    line-height: 16px;
    border-radius: 0;
    text-align: left;
}
.new_wrap .edit_wrap .edit_form .tr .td .dropdown button .caret{
    float: right;
    margin: 7px 0;
}
.new_wrap .edit_wrap .edit_form .tr .td .dropdown ul{
    width: 205px;
}
/*改写bootstrap样式--end*/
.new_wrap .edit_wrap .edit_form .tr .td .radio-inline{
    height: 20px;
    line-height: 20px;
    min-width: 100px;
}
.new_wrap .pre_next_wrap{
    width: 100%;
    background-color: #eeeeee;
    height: 40px;
    line-height: 40px;
}
.new_wrap .pre_next_wrap a{
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

/* 规格/库存 */
.new_wrap .edit_wrap .edit_form .tr .td .title{
    width: 850px;
    overflow: hidden;
    background-color: #eeeeee;
    padding: 5px 15px 0;
    margin-top: 15px;
}
.new_wrap .edit_wrap .edit_form .tr .td .title .td{
    float: left;
    text-align: center;
    width: 155px;
    margin: 0;
    height: 30px;
    line-height: 30px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap{
    width: 850px;
    background-color: #eeeeee;
    overflow: hidden;
    padding: 0 15px 15px;
    margin-bottom: 30px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li{
    margin-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .list_wrap{
    width: 100%;
    overflow: hidden;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .list_wrap .td{
    float: left;
    width: 155px;
    margin: 0;
    text-align: left;
    height: 40px;
    line-height: 40px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .list_wrap .td.del{
    width: 45px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .list_wrap .td.del a{
    cursor: pointer;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .list_wrap .td input{
    height: 30px;
    width: 150px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .choice_wrap{
    width: 100%;
    height: 30px;
    overflow: hidden;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .choice_wrap .td{
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: left;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .choice_wrap .td .add_gg{
    margin-left: 15px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .product_list{
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .product_list .product_wrap{
    width: 100px;
    height: 130px;
    float: left;
    margin-right: 10px;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .product_list .product_wrap .img_wrap{
    height: 70px;
    width: 70px;
    margin: 0 auto;
}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .product_list .product_wrap .img_wrap img{

}
.new_wrap .edit_wrap .edit_form .tr .td .gg_wrap li .product_list .product_wrap .desc{
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: center;
}

/* 详情 */
.new_wrap .edit_wrap .edit_form .tr .td .txt_editer{
    margin-top: 10px;
}